html {
  background:url('../images/bg3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  transition: 6s;
}

.reaction-default {
  background: none; /*To remove any BG for the bootstrap elements*/
  color: white;
  background-color: rgba(44, 62, 80, 1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  margin: 0px;
}

.reaction-zero {
  color: #E1ECD6 !important;
  background-color: rgba(22, 193, 200, 0.75);
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.reaction-one {
  color: #5B3930 !important;
  background-color: rgba(188, 216, 191, 0.75);
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.reaction-two {
  color: #FF4E50 !important;
  background-color: rgba(225, 245, 196, 0.75);
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.reaction-three {
  color: #AB3E5B !important;
  background-color: rgba(179, 204, 87, 0.75);
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.reaction-four {
  color: #351330 !important;
  background-color: rgba(204, 42, 65, 0.75);
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.container {
  text-align: center;
  margin-top: 50px;
}

#weather {
  margin-top:30px;
}

h1 {
  font-family: 'Sanchez', serif;
}

#cityField {
  margin: 30px 0 5px;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 1.2rem
}

button {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 1.4rem !important;
}

h2 {
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2px;
  display: none;
}

h4 {
  display: none;
}

/*Font Icons*/

@charset "UTF-8";
@font-face {
  font-family: "untitled-font-1";
  src:url("../fonts/untitled-font-1.eot");
  src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-1.woff") format("woff"),
    url("../fonts/untitled-font-1.ttf") format("truetype"),
    url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-happy-smiley-streamline:before {
  content: "\62";
}












