html { 
  /* background: url(images/bg3.jpg) no-repeat center center fixed;*/
  background:linear-gradient(rgba(255, 0, 0, 0.45), rgba(255, 0, 0, 0.45)),
  url(../images/bg3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: none; /*Because any bootstrap HTML text has a white BG which*/
  color: white;
}

.container {
  text-align: center;
  margin-top: 50px;
}

#weather {
  margin-top:30px;
}

h1 {
  font-family: 'Sanchez', serif;
}

label[for="city"] {
  margin: 30px 0 5px;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 1.2rem
}

#city {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 1.2rem
}

button {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 1.4rem !important;
}

h2 {
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2px;
}












